<!DOCTYPE HTML>
<html>
<head>
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MOOSIC</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Tracks<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/tracks">All Tracks</a></li>
                <li><a href="tracks/new">Add Tracks</a></li>
              </ul>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<br>
<br>

<h3>ALL TRACKS: <%= @tracks[0][:artist] %></h3>

<% @tracks.each do |track| %>
  <div class="track">
    
    <%= track.id %>.</a> <%= track.song %> - <a href="/tracks/<%= track.artist %>"><%= track.artist %></a><small> (posted by: <%= track.author %>)</small>
  </div>
<% end %>

<p>
<a href="/tracks"> Back to tracks </a>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>